/*Bootstrap dosnt have a hover i can use here so i made a simple hover*/
.menu-item:hover {
  background-color: #0d6efd; /* Bootstrap primary blue */
  color: white;
  transform: scale(1.10);
  transition: 0.2s;
}
